<div class="list-group">
  <button type="button" class="list-group-item list-group-item-action active">
    Araç Detay Bilgisi <button class="btn btn-danger" style="float:right;" routerLink="/auction">Müzayedeye Katıl</button>
  </button>
  <button type="button" class="list-group-item list-group-item-action">{{carDetail.id}}</button>
  <button type="button" class="list-group-item list-group-item-action">{{carDetail.brand}}</button>
  <button type="button" class="list-group-item list-group-item-action">{{carDetail.model}}</button>
  <button type="button" class="list-group-item list-group-item-action">{{carDetail.modelYear}}</button>
  <button type="button" class="list-group-item list-group-item-action">{{carDetail.version}}</button>
  <button type="button" class="list-group-item list-group-item-action">{{carDetail.color}}</button>
  <button type="button" class="list-group-item list-group-item-action">{{carDetail.kilometer}}</button>
  <button type="button" class="list-group-item list-group-item-action">{{carDetail.fuelType}}</button>
  <button type="button" class="list-group-item list-group-item-action">{{carDetail.gearType}}</button>
  <button type="button" class="list-group-item list-group-item-action">{{carDetail.motorPower}}</button>
  <button type="button" class="list-group-item list-group-item-action">{{carDetail.cylinderVolume}}</button>
  <button type="button" class="list-group-item list-group-item-action">{{carDetail.motorPower}}</button>
  <button type="button" class="list-group-item list-group-item-action">{{carDetail.spareKey}}</button>
  <button type="button" class="list-group-item list-group-item-action">{{carDetail.inspectionFinish}}</button>
  <button type="button" class="list-group-item list-group-item-action">{{carDetail.plateNumber}}</button>