<form *ngIf="!isAuthenticated" #loginForm="ngForm" (ngSubmit)="login(loginUser)" class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" name="userName" 
  [(ngModel)]="loginUser.userName" required type="text" placeholder="User Name">
  <input class="form-control mr-sm-2" name="password" 
  [(ngModel)]="loginUser.password" required type="password" placeholder="Password">
  <button class="btn btn-secondary my-2 my-sm-0" [disabled]="!loginForm.valid"  type="submit">Login</button>
</form>